body {
  margin: 0;
  font-family: Arista Pro;
  background-color: #EFECE9;
  padding-top: 60px; /* Adiciona espaço para o header fixo */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #58362D;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Garante que o header esteja sempre acima do conteúdo */
}

h1 {
  margin: 0;
}

nav {
  margin-left: auto;
  margin-right: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  padding: 15px;
}

a {
  text-decoration: none;
  color: #EFECE9;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: -5px; /* Ajuste a margem esquerda conforme necessário */
}

.section-2 {
  background-color: #58362D;
  padding: 50px 0; /* Ajuste conforme necessário */
  text-align: center;
  border-radius: 0% 30%;
  width: 100%;
}

.section-2 h2 {
  color: #EFECE9;
  font-size: 2em;
  margin-bottom: 20px;
}

.section-2 p {
  color: #EFECE9;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 30px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel img {
  max-width: 100%;
  max-height: 300px; /* Ajuste conforme necessário */
  border-radius: 8px;
  margin: 0 10px; /* Espaçamento entre as imagens */
}
@media screen and (max-width: 768px) {
  header {
    padding: 14px;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #58362D;
    margin-left: 0;
    margin-right: 0;
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    margin-left: 10px; /* Ajuste a margem esquerda conforme necessário */
  }

  li {
    text-align: center;
    padding: 10px;
  }
}

footer {
  background-color: #58362D;
  color: #EFECE9;
  padding: 0.1rem;
  text-align: center;
}

.social-icons a {
  color: #EFECE9;
  margin: 0 10px;
  font-size: 20px;
}

section {
  max-width: 1000px;
  text-align: center;
  padding: 20px;
}

.carousel {
  width: 80%;
  margin: auto;
}

.carousel img {
  width: 100%;
  border-radius: 8px;
}

banner {
  text-align: center;
  margin: 20px 0;
}

.section-2 {
  background-color: #58362D;
  padding: 50px 0; /* Ajuste conforme necessário */
  text-align: center;
  border-radius: 0% 30%;
  width: 100%;
}

.section-2 h2 {
  color: #EFECE9;
  font-size: 2em;
  margin-bottom: 20px;
}

.section-2 p {
  color: #EFECE9;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 30px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel img {
  max-width: 100%;
  max-height: 300px; /* Ajuste conforme necessário */
  border-radius: 8px;
  margin: 0 10px; /* Espaçamento entre as imagens */
}