<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor PDF para Word</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Conversor PDF para Word</h1>
    <form action="{{ url_for('converter') }}" method="post" enctype="multipart/form-data">
        <label for="pdfFile">Selecione o arquivo PDF:</label>
        <input type="file" name="pdfFile" id="pdfFile" accept=".pdf" required>
        <br>
        <button type="submit">Converter para Word</button>
    </form>
</body>
</html>
